<nav class="navbar navbar-expand-lg navbar-transparent">
  <div class="container">
    <!-- Left side - Brand -->
    <a
      class="navbar-brand"
      [routerLink]="['/', 'landing']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      TereSang
    </a>

    <!-- Right side - Menu items -->
    <ul class="navbar-nav ms-auto">
      @for (item of navbarMenus; track $index) {
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/', item.path]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ item.label }}
        </a>
      </li>
      }
    </ul>
  </div>
</nav>
